body {
    font-family: sans-serif;
}

a,
Link,
NavLink {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 0 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}


/*Navbar*/

.nav-wrapper {
    width: 100%;
    background: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    position: relative;
    display: flex;
    margin-left: 2rem;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
}

.sub-menu {
    position: absolute;
    display: none;
    background: #ccc;
}

.nav-menu ul {
    padding-left: 0em;
}

.nav-menu ul li:hover>ul {
    display: inline-block;
}

.nav-options {
    display: flex;
    padding: 10px;
    flex: 0 1 40%;
    justify-content: space-evenly;
}

.nav-user-info {
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 75%;
    align-items: center;
}

.logo {
    height: 40px;
}

.cart {
    height: 25px;
    width: 50px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@media (max-width: 850px) {
    .nav-wrapper {
        font-size: 0.75rem;
    }
}


/*Home*/

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.1s ease;
}

.hotpink {
    background-color: hotpink;
}

.pink {
    background-color: pink;
}

.palevioletred {
    background-color: palevioletred;
}

.purple {
    background-color: purple
}

.violet {
    background-color: violet;
}

.home-page-container {
    background-color: white;
}

#home-page video {
    margin: 20px;
}

.category-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 20px auto;
}


/*All Products*/


/*Shopping Cart*/

.add-item-alert {
    background-color: rgb(116, 238, 238);
    margin: 10px;
}


/*Cards*/

.ui.four.cards {
    margin-left: 2em;
    margin-right: 2em;
}

.ui.four.cards>.card {
    width: calc(25% - 6em);
    margin-left: 3.5em;
    margin-right: 2em;
}

.ui.header:first-child {
    margin: 1.5em;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui).categoryProductName {
    font-weight: 400;
    font-size: 1.5em;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui).categoryProductPrice {
    font-weight: 400;
    font-size: 1em;
    margin-top: .5em;
}