body {
    font-family: 'Quicksand', sans-serif;
}

a,
Link,
NavLink {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 0 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}
/*buttons*/
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: #5F4B8B;
    font-family: 'Quicksand', sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}


/*Navbar*/
.logoTitle {
    font-size: 2em;
    color: #5F4B8B;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #5F4B8B 2px solid;
}

.ui.secondary.menu {
    background: 0 0;
    margin-left: -.35714286em;
    margin-right: -.35714286em;
    border-radius: 0;
    border-bottom: #5F4B8B 2px solid;
    box-shadow: none;
}

.nav-menu {
    position: relative;
    display: flex;
    margin-left: 2rem;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
}

.sub-menu {
    position: absolute;
    display: none;
    background: #ccc;
    margin-left: -72px;
    margin-top: 15px;
}
.sub-menu li a {
    margin-top: 15px;
}
.nav-menu ul {
    padding-left: 0em;
}

.nav-menu ul li:hover>ul {
    display: inline-block;
    padding: 15px;
}


.nav-options {
    display: flex;
    padding: 10px;
    flex: 0 1 40%;
    justify-content: space-evenly;
}

.nav-user-info {
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 75%;
    align-items: center;
}

.logo {
    height: 40px;
}

.cart {
    height: 50px;
    width: auto;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@media (max-width: 850px) {
    .nav-wrapper {
        font-size: 0.75rem;
    }
}


/*Home*/

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.1s ease;
}

.hotpink {
    background-color: hotpink;
}

.pink {
    background-color: pink;
}

.palevioletred {
    background-color: palevioletred;
}

.purple {
    background-color: purple
}

.violet {
    background-color: violet;
}

.home-page-container {
    background-color: white;
}

#home-page video {
    margin: 20px;
}

.category-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 20px auto;
}



/*Shopping Cart*/

.add-item-alert {
    color: #5F4B8B;
    margin: 10px;
}


/*All Products*/
/*Cards*/

.searchbar{
    margin-left: 2.5em;
}

.ui.header:first-child {
    margin: 1.23em;
}

.ui.four.cards {
    margin-left: 2em;
    margin-right: 2em;
}

.ui.four.cards>.card {
    width: calc(25% - 6em);
    margin-left: 3.5em;
    margin-right: 2em;
}

.ui.header:first-child {
    margin: 1.5em;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui).categoryProductName {
    font-weight: 400;
    font-size: 1.5em;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui).categoryProductPrice {
    font-weight: 400;
    font-size: 1em;
    margin-top: .5em;
}

.ui.card a, .ui.cards>.card a {
    cursor: pointer;
    text-align: center;
}

.ui.card img, .ui.cards>.card img {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

/*My Account */
/*Admin User Grid*/
.ui.grid.adminUserGrid{
    margin-top: 3rem;
    margin-bottom: -1rem;
    margin-left: 6rem;
    margin-right: 5rem;
}
/*user info list*/
.ui.list.userInfo {
    font-size: 1.25em;
}
.ui.list.userInfo:first-child, ol.ui.list:first-child, ul.ui.list:first-child{
    margin-top: 4em;
    padding-top: 0;
}
.ui.list.userInfo, ol.ui.list, ul.ui.list {
    list-style-type: none;
    margin: 1em 5em;
    padding: 0 0;
}

/*Single Product */
.ui.container.singleProduct {
    display: block;
    max-width: 100%!important;
    margin-top: 15vh;
}

.ui.items.reviews {
    margin: 1.5em 5em;
}

div.reviews {
    margin: 10em 5em 0em 5em;
}

.reviewForm{
    margin-left: 5em;
    margin-bottom: 10vh;
}

.adminProductForm {
   margin-left: 5em;
   margin-top: 5vh;
}

/*Single Category*/
.ui.card a, .ui.cards>.card a {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}
