body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-wrapper {
  width:100%;
  background: #999;
}

.nav-menu {
  position:relative;
  display:inline-block;
}

.nav-menu li {
  display: inline;
  list-style-type: none;
}

.sub-menu {
  position:absolute;
  display:none;
  background: #ccc;
}

.nav-menu ul li:hover > ul {
  display:inline-block;
}

.logo{
  height: 40px;
}

.cart{
  height: 40px;
}

/*All Products*/
/*Cards*/
.ui.four.cards {
    margin-left: 2em;
    margin-right: 2em;
}
.ui.four.cards>.card {
    width: calc(25% - 6em);
    margin-left: 3.5em;
    margin-right: 2em;
}

.ui.header:first-child {
    margin: 1.5em;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui).categoryProductName{
  font-weight: 400;
  font-size: 1.5em;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui).categoryProductPrice{
  font-weight: 400;
  font-size: 1em;
  margin-top: .5em;
}
